[Desktop Entry]
Encoding=UTF-8
Name=KJumpingCube
Exec=kjumpingcube -caption "%c"
Icon=kjumpingcube
Type=Application
DocPath=kjumpingcube/index.html
GenericName=Tactical Game
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
