[Desktop Entry]
Name=KJumpingCube
Name[af]=Kjumpingcube
Name[ast]=KJumpingCube
Name[be]=Скокаючы кубік
Name[bn]=কে-জাম্পিংকিউব
Name[br]=KDiñsALamm
Name[bs]=KJumpingCube
Name[ca]=KJumpingCube
Name[ca@valencia]=KJumpingCube
Name[cs]=KJumpingCube
Name[cy]=KJumpingCube
Name[da]=KJumpingCube
Name[de]=KJumpingCube
Name[el]=KJumpingCube
Name[en_GB]=KJumpingCube
Name[eo]=KJumpingCube
Name[es]=KJumpingCube
Name[et]=KJumpingCube
Name[eu]=KJumpingCube
Name[fa]=مکعب پرنده
Name[fi]=KJumpingCube
Name[fr]=KJumpingCube
Name[ga]=KJumpingCube
Name[gl]=KJumpingCube
Name[he]=KJumpingCube
Name[hne]=के-जम्पिंगक्यूब
Name[hr]=KJumpingCube
Name[hu]=Ugráló kocka
Name[is]=Hoppandi kubbur
Name[it]=KJumpingCube
Name[ja]=KJumpingCube
Name[kk]=KJumpingCube
Name[km]=KJumpingCube
Name[ko]=KJumpingCube
Name[lt]=KJumpingCube
Name[lv]=KJumpingCube
Name[mk]=KJumpingCube
Name[nb]=KJumpingCube
Name[nds]=KJumpingCube
Name[ne]=केडीई जम्पिङ क्युब
Name[nl]=KJumpingCube
Name[nn]=KJumpingCube
Name[pa]=ਕੇ-ਜੰਪ ਘਣ
Name[pl]=Domyślny skaczący sześcian
Name[pt]=KJumpingCube
Name[pt_BR]=KJumpingCube
Name[ro]=Cubul săritor
Name[ru]=KJumpingCube
Name[se]=KJumpingCube
Name[sk]=KJumpingCube
Name[sl]=KJumpingCube
Name[sq]=KJumpingCube
Name[sr]=К‑скочикоцка
Name[sr@ijekavian]=К‑скочикоцка
Name[sr@ijekavianlatin]=K‑skočikocka
Name[sr@latin]=K‑skočikocka
Name[sv]=Kjumpingcube
Name[ta]=கேகுதிக்கும் கனசதுரம்
Name[tg]=KКубикҳои Ҷиҳанда
Name[tr]=KJumpingCube
Name[ug]=KJumpingCube
Name[uk]=KJumpingCube
Name[vi]=KJumpingCube
Name[wa]=KJumpingCube
Name[xh]=Ityhubhu yeKJumping
Name[x-test]=xxKJumpingCubexx
Name[zh_CN]=KJumpingCube
Name[zh_TW]=KJumpingCube 跳躍立方體
Exec=kjumpingcube -caption "%c"
Icon=kjumpingcube
Type=Application
X-DocPath=kjumpingcube/index.html
GenericName=Territory Capture Game
GenericName[ast]=Xuegu de conquista del territoriu
GenericName[bs]=Igra osvajanja teritorija
GenericName[ca]=Joc de conquesta del territori
GenericName[ca@valencia]=Joc de conquesta del territori
GenericName[da]=Spil om at indtage områder
GenericName[de]=Eroberungsspiel
GenericName[el]=Παιχνίδι κατάληψης περιοχών
GenericName[en_GB]=Territory Capture Game
GenericName[es]=Juego de conquista del territorio
GenericName[et]=Mänguala vallutamise mäng
GenericName[eu]=Territorioak bereganatzeko jokoa
GenericName[fr]=Jeu de capture de territoires
GenericName[ga]=Cluiche Gabhála Talaimh
GenericName[gl]=Xogo de captura de territorios
GenericName[hu]=Területfoglaló
GenericName[it]=Gioco di conquista del territorio
GenericName[ja]=陣地獲得ゲーム
GenericName[kk]=Жер жаулау ойны
GenericName[km]=ល្បែង​ចាប់​យក​ដែនដី
GenericName[lt]=Teritorijos užgrobimo žaidimas
GenericName[lv]=Teritorijas ieņemšanas spēle
GenericName[nb]=Spill basert på områdekapring
GenericName[nds]="Rebeden besetten"-Speel
GenericName[nl]=Landverovertjespel
GenericName[nn]=Spel basert på områdekapring
GenericName[pl]=Gra w zajmowanie terytorium
GenericName[pt]=Jogo de Captura do Território
GenericName[pt_BR]=Jogo de captura de território
GenericName[ro]=Joc de capturare a teritoriului
GenericName[ru]=Захват территорий
GenericName[sk]=Hra na obsadzovanie území
GenericName[sl]=Igra osvajanja ozemlja
GenericName[sr]=Игра заузимања територије
GenericName[sr@ijekavian]=Игра заузимања територије
GenericName[sr@ijekavianlatin]=Igra zauzimanja teritorije
GenericName[sr@latin]=Igra zauzimanja teritorije
GenericName[sv]=Terrängerövring
GenericName[tr]=Bölge Ele Geçirme Oyunu
GenericName[uk]=Гра на захоплення територій
GenericName[x-test]=xxTerritory Capture Gamexx
GenericName[zh_CN]=版块占领游戏
GenericName[zh_TW]=領土爭奪戰
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
