[KGameTheme]
Name=KJumpingCube Default
Name[ca]=Predeterminat de KJumpingCube
Name[de]=KJumpingCube Standard
Name[el]=Προκαθορισμένο KJumpingCube
Name[eo]=Defaŭlto de KJumpingCube
Name[es]=KJumpingCube predeterminado
Name[et]=KJumpingCube vaiketeema
Name[fa]=پیش‌فرض KJumpingCube
Name[fi]=KJumpingCube oletus
Name[ga]=Réamhshocrú KJumpingCube
Name[gl]=Predeteminado de KJumpingCube
Name[it]=Predefinito di KJumpingCube
Name[ja]=KJumpingCube 標準
Name[ko]=KJumpingCube 기본값
Name[lv]=KJumpingCube noklusējuma
Name[ne]=केडीई जम्पिङ क्युब पूर्वनिर्धारित
Name[nl]=KJumpingCube standaard
Name[pt]=Predefinição do KJumpingCube
Name[pt_BR]=Predefinição do KJumpingCube
Name[sl]=Privzeta
Name[sv]=Kjumpingcube förval
Name[x-test]=xxKJumpingCube Defaultxx
Name[zh_CN]=KJumpingCube 默认
Name[zh_TW]=KJumpingCube 預設
Description=A simple set of cubes for KDE4
Description[ca]=Un conjunt simple de cubs per KDE4
Description[de]=Ein einfacher Satz Würfel für KDE4
Description[el]=Ένα απλό σύνολο κύβων για το KDE4
Description[eo]=Simpla kubaro por KDE4
Description[es]=Un conjunto sencillo de cubos para KDE4
Description[et]=KDE4 lihtne kuubiteema
Description[fa]=تنظیم ساده مکعبها برای KDE4
Description[fi]=Yksinkertainen kokoelma kuutioita KDE4:lle
Description[gl]=Un conxunto simples de cubos para KDE4
Description[ja]=KDE4 用のシンプルなキューブセット
Description[ko]=KDE 4를 위한 간단한 육면체 세트
Description[lv]=Vienkārša kubu kopa priekš KDE4
Description[ne]=केडीई ४ का लागि क्युबको सामान्य सेट
Description[nl]=Een eenvoudige set kubussen voor KDE 4
Description[pt]=Um conjunto simples de cubos para o KDE4
Description[pt_BR]=Um conjunto simples de cubos para o KDE4
Description[sl]=Preproste kocke za KDE4
Description[sv]=En enkel uppsättning kuber för KDE4
Description[x-test]=xxA simple set of cubes for KDE4xx
Description[zh_CN]=KDE 4下的简单方块组合
Description[zh_TW]=KDE 4 簡單的立方體集合
Author=Ian Wadham, Eugene Trounev
FileName=default.svg
DrawHairlines=0
